<div class="best-rooms py-5">
    <div class="container py-md-5">
        <h1>Tatil Temaları</h1>
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Starter/assets/images/denizeSıfır.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>Denize Sıfır Oteller</h4>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/kayakOtel.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Kayak Oteller</h4>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/spaOtel.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Spa Oteller</h4>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/balayıOtel.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Balayı Otelleri</h4>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/termalOtel.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Termal Oteller</h4>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>